
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymleaf.com">
<head>
<title>Login</title>
</head>
<body>
<div th:insert= "fragments/nav :: head"></div>
<div id="header" th:fragment="header">
		<div class="shell">
			<!-- Logo + Top Nav -->
			<div id="top">
				<h1>
					<a href="#">Xian Music Academy</a>
				</h1>

			</div>
		</div>
	</div>
	<!-- End Header -->
	<!-- Container -->
	<div id="container">
		<div class="shell">
			<!-- Small Nav -->
			<!-- End Small Nav -->
			<br />
			<!-- Main -->
			<div id="main">
				<div class="cl">&nbsp;</div>
				<!-- Content -->
				<div id="content">
					<!-- Box -->
					<div class="box">
						<!-- Box Head -->
						
						<!-- End Box Head -->
						<!-- Table -->
						<form action="/login" method="post">
						<div class="form">
							<div>
								<label for="email">Email:</label> <input type="text" id="email"
									name="email" class="field size1" th:required/>
							</div>
							<div>
								<label for="password">Password:</label> <input type="password"
									id="password" name="password" class="field size1" th:required/>
							</div>
							<!-- Display error message if login fails -->
							<p th:if="${error}" style="color: red;">Invalid email or
								password</p>
								</div>
								 <div class="buttons">
              <input type="submit" class="button" value="Login" />
            </div>
						</form>
						<!-- End Box -->
					</div>
					</div>
					<!-- End Sidebar -->
					<div class="cl">&nbsp;</div>
				</div>
				<!-- Main -->
			</div>
		</div>
		<!-- End Container -->
		<!-- Footer -->
<div th:insert= "fragments/nav :: footer"></div>
<!-- End Footer -->
</body>
</html>
