
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymleaf.com">
<head>
<title>Attendance</title>
</head>
<body>
	<!-- Header -->
	<div th:insert="fragments/nav :: head"></div>
	<div th:insert="fragments/nav :: header"></div>
	<!-- End Header -->
	<!-- Container -->
	<div id="container">
		<div class="shell">
			<!-- Small Nav -->
			<div class="small-nav">
				<a href="dash_board">Dashboard</a> <span>&gt; <a href="add_attendance">Check 
						Attendence</a></span>
			</div>
			<!-- End Small Nav -->

			<br />
			<!-- Main -->
			<div id="main">
				<div class="cl">&nbsp;</div>
				<!-- Content -->
				<div id="content">
					<!-- Box -->
					<div class="box">
						<!-- Box Head -->
						<div class="box-head">
							<h2 class="left">Attendance</h2>
						</div>
						<!-- End Box Head -->
						<!-- Table -->

						<form th:action="@{/dailyattendance}">
							<div class="form">
								<p>
									<label for="name">Schedule</label> <select id="scheduleID"
										th:value="${scheduleID}" name="scheduleID" class="field size1">
										<option>Choose Schedule</option>
										<option th:each="sc :${schedule}" th:value="${sc.schedule_id}"
											th:text="${sc.schedule_name}"></option>
									</select>
								</p>
							</div>
							<div class="buttons">
								<input type="submit" class="button" value="submit" />
							</div>
						</form>

						

					</div>
					<!-- End Box -->
				</div>
			</div>
			<!-- End Container -->

			<div class="cl">&nbsp;</div>
		</div>
		<!-- Main -->
	</div>
	<!-- End Container -->
	<!-- Footer -->
	<div th:insert="fragments/nav :: footer"></div>
</body>
</html>